img{
    height: 150px;
    width: 150px;
}
p{
    height: 100px;
}
.main{
    background-color: lightskyblue;
    padding: 5px;
    margin: 5px;
}
.sub{
    background-color: lightblue;
    padding: 5px;
    margin: 5px;
}